html,
body {
  height: 100%;
}

.banner-img {
  filter: opacity(0.9);
  margin-top: -150px;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  text-align: center;
}

.btn-large {
  background-color: #ffffff;
  color: black;
  z-index: 110;
}

.nav-wrapper {
  z-index: 3;
}

p {
  font-family: 'Raleway', sans-serif;
}

.over {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-caption {
  letter-spacing: 30px;
  font-weight: bold;
  padding: 10px;
  z-index: 100;
  margin-top: 20rem;
}

.cap {
  z-index: 100;
  margin-top: 15rem;
  color: white;
}

.active {
  border-bottom: 3px solid white;
}

.full {
  min-height: 80vh;
  background-color: white;
}

.grow-from-center {
  animation: growFromCenter 1.2s;
}

.w3-animate-left {
  animation: animateleft 1.2s;
}

.w3-animate-right {
  animation: animateright 1.2s;
}

#brand {
  font-weight: bolder;
  color: darkblue;
}

.hvr-grow {
  font-size: 20px;
}

.material-icons {
  color: rgb(54, 54, 182);
}

.desktop {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.footer-logo {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.page-footer {
  background-image: url(/images/fb2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fa {
  margin-right: 7px;
}

@keyframes growFromCenter {
  from {
    transform: scale(0.0000001);
  }
  to {
    transform: scale(1);
  }
}

.carousel-item {
  font-family: 'Raleway', sans-serif;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 992px) {
  .nav-wrapper > a {
    padding-left: 50px;
    padding-right: 50px;
  }

  .caption {
    margin-top: 50px !important;
  }
}
